/* ------------------------- */
/* Mobile screens */
/* ------------------------- */

@media (max-width: 299px){
  .main-nav-services {
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }

  .main-nav-press {
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }

  .main-nav-philosophy {
    border-right: 2px solid transparent;
  }

}



/* ------------------------- */
/* Media above mobile screen-sized */
/* ------------------------- */


@media (min-width: 340px){
    
  body {
    font-size: 16px;
  }

  .contact-email:link {
      line-height: 5.5em;
  }
  
  .contact-section > .positioner {
    max-width: 90%;
  }


}


/* Break point to format press hit section */

@media (min-width: 380px){

  #philosophy-toggle-content {
    text-align: justify;
  }

  .press-section > .positioner {
    max-width: 80%;
  }

  .contact-section > .positioner {
    max-width: 80%;
  }

}

/* 
Break point for the links in the 
main nav container to go from 
stacked on each other to a row
*/

@media (min-width: 440px){

  .main-nav-container {
    flex-flow: nowrap row;
  }

  .main-nav-container a {
    width: 8em;
    padding: 1em;
  }

  .main-nav-services {
    /*padding: 1em;*/
    border-right: 2px solid #444;
    border-bottom: 2px solid transparent;
  }

  .main-nav-press {
    /*padding: 1em;*/
    border-right: 2px solid #444;
    border-bottom: 2px solid transparent;
  }

  .main-nav-philosophy {
    /*padding: 1em;*/
    border-right: 2px solid #444;
  }

  .press-section > .positioner,
  .contact-section > .positioner {
    max-width: 68%;
  }


/* 
Break point for the RBPR logo
link in the top left to appear
and reorganize the nav bar
*/


@media (min-width: 500px){
    
  body {
    font-size: 17px;
  }

  .rbpr-nav-name {
    display: block;
  }

  .sticky-header-nav {
    justify-content: space-between;
  }
  
  .contact-section > .positioner {
    max-width: 62%;
  }
}



@media (min-width: 600px){
  

  .press-section > .positioner {
    max-width: 55%;
  }


  .social-icons-container ul {
    flex-flow: row nowrap;
    width: 130%;
  }

}

/* 
Break point for the menus that 
appear under services-accordion
*/

@media (min-width: 730px){

  .press-section > .positioner {
    max-width: 50%;
  }

  button.services-accordion {
    width: 70%;
  }

  div.panel {
    width: 55%;
  }

  .sticky-header-nav ul li a {
    width: 6em;
  }
}



@media (min-width: 810px){



  .press-section > .positioner,
  .contact-section > .positioner {
    max-width: 40%;
  }
  
  .philosophy-section > .positioner {
    max-width: 67%;
  }


  button.services-accordion {
    width: 70%;
  }


  div.panel {
    width: 55%;
  }
}


/* ------------------------- */
/* Break point 1000px */
/* ------------------------- */


@media (min-width: 1020px){

  .rbpr-heart-logo {
    margin-top: 4em;
  }

  .press-section > .positioner,
  .contact-section > .positioner {
    max-width: 30%;
  }

  .philosophy-section > .positioner {
    max-width: 52%;
  }

  button.services-accordion {
    width: 65%;
  }


  div.panel {
      width: 50%;
  }


}

/* ------------------------- */
/* Break point 1200px+ */
/* ------------------------- */

@media (min-width: 1200px){

 /* .philosophy-section > .positioner {
    max-width: 45%;
  }*/

  .press-section > .positioner {
    max-width: 30%;
  }

}

