/* Mobile screens */

@media (max-width: 320px){


}




/* Media above mobile screen-sized */

@media (min-width: 321px){
    
  body {
    font-size: 16px;
  }

  .contact-email:link {
      line-height: 5.5em;
  }
    


}


/* Break point to format press hit section */

@media (min-width: 385px){
  .positioner {
    max-width: 85%;
    margin: 0 auto;
  }
}

/* 
Break point for the links in the 
main nav container to go from 
stacked on each other to a row
*/

@media (min-width: 448px){

  .main-nav-container a {
    width: 6em;
    padding: 1em;
  }
  /*.main-nav li {
    display: inline-block;
    margin-left: 40px;
  }*/

  .main-nav-services {
    /*padding: 1em;*/
    border-right: 2px solid #444;
    border-bottom: 2px solid transparent;
  }

  .main-nav-press {
    /*padding: 1em;*/
    border-right: 2px solid #444;
    border-bottom: 2px solid transparent;
  }

  .main-nav-approach {
    /*padding: 1em;*/
    border-right: 2px solid #444;
  }

/* Redistribute press hits into a 5w x 3h grid */
/*  .positioner {
    max-width: 90%;
    margin: 0 auto;
  }*/

  .press-section {
    width: 90%;
    margin-left: 5%;
  }
/*
  .press-hit-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border: 2px solid #000;
  }*/
}

/* 
Break point for the RBPR logo
link in the top left to appear
and reorganize the nav bar
*/


@media (min-width: 500px){
    
  body {
    font-size: 17px;
  }

  .rbpr-nav-name {
    display: block;
  }

  .sticky-header-nav {
    justify-content: space-between;
  }
  

  .press-section {
    width: 84%;
    margin-left: 8%;
  }

}


/* 
Break point for the menus that 
appear under services-accordion
*/

@media (min-width: 730px){

  button.services-accordion {
    width: 70%;
  }

  div.panel {
      width: 55%;
  }

  .press-section {
    width: 80%;
    margin-left: 10%;
  }
}


@media (min-width: 850px){

  button.services-accordion {
    width: 70%;
  }


  div.panel {
      width: 55%;
  }

  .press-section {
    width: 70%;
    margin-left: 15%;
  }
}

@media (min-width: 1000px){

  .rbpr-heart-logo {
    margin-top: 11em;
  }


  h2 {
    margin-bottom: 4em;
  }

  button.services-accordion {
    width: 65%;
  }


  div.panel {
      width: 50%;
  }

  .press-section {
    width: 50%;
    margin-left: 25%;
  }
}

